
#landingPage {
     -fx-background-color: linear-gradient(to right, #E3C5BD 0%, #E3C5BD 50%, #DAF8F0 50%, #DAF8F0 100%);
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#signInPage, #selectAccountPage, #enterpriseAccountPage, #enterpriseAccountSubUserPage, #securityQuestionPage, #standardAccountPage {
    -fx-background-color: #DAF8F0;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#landingPage #createAccountPage #confirmPasswordField .text {
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
}

#signInText, #createAccountText {
    -fx-font-family: "Open Sans", sans-serif;
    -fx-font-size: 24px;
}

#signInButton, #createAccountButton, #signInPageButton, #signInEmailInputField, #signInPasswordInputField, #confirmPasswordField {
    -fx-focus-color: transparent;
    -fx-background-radius: 20;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 14px;
}

#enterpriseEmailInputField, #enterprisePasswordInputField, #enterpriseConfirmPasswordField {
    -fx-focus-color: transparent;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 14px;
}

#enterpriseAccountButton, #standardAccountButton, #enterpriseNextButton, #securityQuestionNextButton, #enterpriseSubUsersNextButton, #standardNextButton {
    -fx-focus-color: transparent;
    -fx-background-radius: 20;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 18px;
}

#signInLabelField {
        -fx-fill: white;
        -fx-arc-height: 40.0;
        -fx-arc-width: 40.0;
}

#textField {
     -fx-prompt-text-fill: grey;
     -fx-font-size: 58px
}

#textField:focused {
    -fx-prompt-text-fill: transparent;
}

.signInLabel {
    -fx-font-size: 26px;
    -fx-text-fill: #B3B3B3;
}

#forgotPasswordLink {
     -fx-text-fill: #B3B3B3;
}

#signInPageButton {
    -fx-font-size: 18px;
}

#validationErrorMessage {
     -fx-text-fill: #FF0000;
     -fx-font-size: 14px;
}